<div>
  <p id="notice"><%= notice %></p>
  <p>
    <strong>Name:</strong>
    <%= @user.name %>
  </p>
  <p>
    <strong>Events Created:</strong>
    <% @user.created_events.each do |event| %>
      <li>
        <%= link_to event.description, event_path(event) %>
      </li>
    <% end %>
  </p>
  <p>
    <strong>Events Attended:</strong><br/>
    <% @user.attended_events.each do |event| %>
      <li>
        <%= link_to event.description, event_path(event) %>
      </li>
    <% end %>
  </p>
  <p>
    <strong>Upcoming Events:</strong><br/>
    <% @upcoming_events.each do |event| %>
      <li>
        <%= link_to event.description, event_path(event) %>
      </li>
    <% end %>
  </p>
  <p>
    <strong>Previous Events:</strong><br/>
    <% @previous_events.each do |event| %>
      <li>
        <%= link_to event.description, event_path(event) %>
      </li>
    <% end %>
  </p>
</div>
